html{
    font-family: "Raleway", sans-serif;
    color:#232323;
}
body{
    background-color:#F8F6F3 ;
}
h2{
    font-family: "Cormorant Garamond", serif;
    font-size: 3.8rem;
    margin-bottom:15px;
    font-weight: normal;
    line-height: 1.2;
}
h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: 5px;
}
a{
    text-decoration:none;
    text-transform:uppercase;
    color:#232323;
}
input{
    padding:11px 14px;
}
input[type=text]{
    width:100%;
    border: .5px solid #c9c5be;
}
input[type=button]{
    padding:12px 14px;
    border:none;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: #C9C5BE;
}

.insta{
    text-align: center;
    font-size: 1.8em;
}

.link{
    font-size: 1.2rem;
    border-bottom: 2px solid;
    padding-bottom: 5px;

    &__white{
        border-color: #fff;
        color:#fff;
    }
}
.title{
    color:#fff;
    margin-bottom: 40px;
}
.wrapper{
    padding:50px 0px;
    max-width: 1400px;
    margin:auto;
}

.arrow{
    width:15px;
    position: absolute;
    bottom:3%;
    left:88%;
    filter: invert(100%);
    z-index: 3;
}